.filterbar{
    height: 30px;
    z-index: 10;
    border: 1px solid rgb(196, 193, 193);
    position: relative;
    border-radius: 15px;
    margin-left: 5px;
}

.filterbar input{
    height: 28px;
    border: transparent;
    outline: none;
}

.filterbar span{
    background-color: rgb(102, 104, 113);
    border-radius: 10px;
    font-size: 15px;
    color: white;
    margin-right: 3px;
    margin-left: 3px;
    padding: 3px;
}

.filterbar button{
    width: 30px;
    height: 28px;
    border-radius: 50%;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #ffffff;
    opacity: 0.8;
    border: transparent;
}


.menu-scroll{
    max-height: 175px;
    overflow: scroll;
}

